.grid {
	margin: 0 5rem 0 5rem;
	padding-bottom: 50px;

	&__movies {
		margin: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, 210px);
		gap: 20px;
		padding: 10px 0 10px 0;
		justify-content: center;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__sort__icon {
			margin-left: 5px;
		}
	}
}

@media (max-width: 560px) {
	.grid__movies {
		grid-template-columns: 100%;
	}
}
