
.poster {
	position: relative;

	&-img {
		border-radius: 10px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		margin-bottom: 15px;
	}

	&-like {
		position: absolute;
		bottom: 30px;
		right: 20px;
		z-index: 50;
		color: red;
		border: none;
	}
}

.poster-like:hover {
	color: #dabeca;
	cursor: pointer;
}

@media (max-width: 560px) {
	.poster-img {
		width: 100%;
		height: auto;
	}
}
