@import '../../index.scss';

.poster {
	position: relative;

	&__img {
		margin-bottom: 15px;
	}

	&__like {
		position: absolute;
		bottom: 25px;
		right: 10px;
		z-index: 1;
		color: var(--main-color);
		border: none;
		cursor: pointer;
	}
}

@media (max-width: 560px) {
	.poster__img {
		width: 100%;
		height: auto;
	}
}

.unfavorited {
	color: var(--light-color);
	position: absolute;
	bottom: 25px;
	right: 10px;
	z-index: 1;
	border: none;
	cursor: pointer;
}
