@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.App {
	margin: 0 5rem 0 5rem;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
