.brand {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 20px;

	&__title {
		font-size: 50px;
		font-family: 'Lobster';
	}

	&__logo {
		height: 35px;
		border: none;
		box-shadow: none;
	}
}
