@import '../../index.scss';

.nav {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	gap: 20px;

	&__item {
		cursor: pointer;

		&__icon {
			margin-right: 10px;
		}
	}

	li {
		display: flex;
	}
}

.active :not(.brand__title) {
	color: var(--secondary-color);
}
