.nav {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	gap: 20px;

	li {
		display: flex;
	}

	&__item {
		cursor: pointer;

		&:hover {
			color: var(--secondary-color);
		}

		&__icon {
			margin-right: 10px;
		}
	}
}

.active :not(.brand__title) {
	color: var(--secondary-color);
}
